.swiper-pagination-bullet {
    background-color: #ffffff86 !important;
}

.swiper-pagination-bullet-active {
    background-color: #7052db !important;
}

.swiper-slide {
    padding: 40px !important;
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important;
}
