.error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-color: #050542;
    background: linear-gradient(
        150deg,
        #050542,
        #21043e,
        #3c074e,
        #5a0975
      );
      text-align: center;
      color: white;
      min-height: 100vh;
}