.App {
    background: linear-gradient(
        150deg,
        #050542,
        #21043e,
        #3c074e,
        #5a0975
      );
      text-align: center;
      color: white;
      min-height: 100vh;
}