#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#intro h1 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;

}

.resume-button {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.129);
  color: white;
}

.resume-button:hover {
  background-color: rgba(255, 255, 255, 0.195);
  transition: all 0.2s ease-in-out;
}

.avatar {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}

.frontend {
  width: 300px;
}

.about-card {
  background-color:  rgba(255, 255, 255, 0.047);
  border-radius: 25px;
  padding: 30px;
}

.tech-skills,
.design-tools {
  padding: 30px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.047);
}

.tech-skills-logos img {
  max-height: 50px;
  max-width: 50px;
}

.design-tools-logos img {
  max-height: 50px;
  max-width: 50px;
}


@media screen and (max-width: 600px) {
  .avatar {
    width: 70vw;
    height: 70vw;
  }

  .frontend { 
    width: 250px;
  }
}