#drawer {
    height: 100%;
    background-color: #24083d;
    color: white;
}

#drawer-divider {
    background-color: white;
    opacity: 0.3;
    height: 1px;
    width: 100%;
    margin: 20px 0px;
}

.active {
    color: #ba7ce6 !important;
    transition: all 0.5s ease-in-out;
}