.search-input {
  border: none;
  background-color: rgba(255, 255, 255, 0.132);
  color: #ffffff;
  border-radius: 20px;
  width: 100%;
  padding: 5px 25px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.442);
}
